.item {
    display: flex;
    gap: 40px;
    padding-left: 20px;
    align-items: center;
    border: 1px solid green;
    border-radius: 50px;
    margin-bottom: 10px;
    width: 460px;
    margin-right: auto;
    margin-left: auto;}
.avatar {
    width: 80px;
    height: 80px;
}
.offline {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: red;
}
.online {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: green;
}